name: Build and Test

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  prepare:
    name: Prepare list of configurations
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      presets: ${{ steps.set-matrix.outputs.presets }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443

      - name: Check out the source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set matrix
        id: set-matrix
        run: echo presets="$(jq '.configurePresets[] | select(.hidden == false) | {name, description}' CMakePresets.json | jq --slurp -c .)" >> "${GITHUB_OUTPUT}"

  build:
    needs: prepare
    name: Build and Test (${{ matrix.preset.description }})
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        preset: ${{ fromJson(needs.prepare.outputs.presets) }}
    permissions:
      contents: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true
          fetch-depth: 0

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Build and test
        run: |
          cmake --preset ${{ matrix.preset.name }}
          cmake --build --preset ${{ matrix.preset.name }} -j $(nproc)
          ctest --preset ${{ matrix.preset.name }}

  build-ext:
    name: Build and Test (external dependencies)
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: block
          allowed-endpoints: >
            github.com:443

      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Build and test
        run: |
          cmake --preset default
          cmake --build --preset default -j $(nproc)
          ctest --preset default
          sudo cmake --install build
