name: Test

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  prepare:
    name: Prepare list of configurations
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      scripts: ${{ steps.set-matrix.outputs.scripts }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443

      - name: Check out the source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set matrix
        id: set-matrix
        run: echo scripts="$(for i in ci/*.ctest.cmake; do echo '"'$(basename $i .ctest.cmake)'"'; done | jq --slurp -c)" >> "${GITHUB_OUTPUT}"

  test:
    needs: prepare
    name: Test (${{ matrix.script }})
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        script: ${{ fromJson(needs.prepare.outputs.scripts) }}
    permissions:
      contents: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            azure.archive.ubuntu.com:80
            esm.ubuntu.com:443
            github.com:443
            motd.ubuntu.com:443
            objects.githubusercontent.com:443
            packages.microsoft.com:443

      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Run tests
        run: ctest --output-on-failure -V -S "ci/${{ matrix.script }}.ctest.cmake"

      - name: Upload test tesults
        if: (!cancelled())
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: Test Results (${{ matrix.script }})
          path: |
            build/junit.xml
            build/Testing/Temporary/MemoryChecker.*.log

  publish:
    needs: test
    name: Publish Results
    runs-on: ubuntu-latest
    if: (!cancelled())
    permissions:
      contents: read
      checks: write
      pull-requests: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443

      - name: Download test results
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: test-results

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@34d7c956a59aed1bfebf31df77b8de55db9bbaaf # v2.21.0
        with:
          files: test-results/**/junit.xml
          check_run: false
