name: Update vcpkg baseline

on:
  push:
    paths:
      - 'vcpkg/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  update-baseline:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443

      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true

      - name: Get latest vcpkg baseline
        id: vcpkg-baseline
        run: |
          BASELINE="$(git submodule status vcpkg | awk '{print $1}')"
          echo "baseline=${BASELINE}" >> ${GITHUB_OUTPUT}

      - name: Update vcpkg-configuration.json
        run: |
          jq --arg baseline "${{ steps.vcpkg-baseline.outputs.baseline }}" '.["default-registry"].baseline = $baseline' vcpkg-configuration.json > tmp.$$.json && mv tmp.$$.json vcpkg-configuration.json
          if ! git diff --quiet vcpkg-configuration.json; then
            echo "KEEP_GOING=yes" >> "${GITHUB_ENV}"
          fi

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          commit-message: "chore(deps): update default registry's baseline to `${{ steps.vcpkg-baseline.outputs.baseline }}`"
          title: "chore(deps): update default registry's baseline to `${{ steps.vcpkg-baseline.outputs.baseline }}`"
          body: |
            This PR updates default registry's baseline to `${{ steps.vcpkg-baseline.outputs.baseline }}`.
          branch: "update-vcpkg-baseline-${{ steps.vcpkg-baseline.outputs.baseline }}"
          labels: dependencies
          token: ${{ secrets.REPOSITORY_ACCESS_TOKEN }}
        if: env.KEEP_GOING == 'yes'
